.page[data-page='projects'] {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page[data-page='projects'][data-state='is-hidden'] {
	opacity: 0;
}
.page[data-page='projects'] .page_inner {
	gap: var(--fluid_sm);
}